.not-found {
    width: 100%;
    text-align: center;
}

.not-found.container {
    display: flex;
    flex-direction: column;
    gap: 60px;
    padding: 150px 0;
}

.not-found.code {
    font-size: 8rem;
    font-weight: 700;
}

.not-found.message {
    font-size: 1.5rem;
}

.not-found.link {
    font-size: 0.8rem;
}